* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	position: absolute;
}

body {
	max-width: 100%;
	background: #FEFBFD;
}

/* Global */
h1 {
	font-family: 'Exo 2', sans-serif;
	color: #FFEBCD;
	font-size: 2em;
}

h2 {
	font-family: 'Exo 2', sans-serif;
	color: #FFEBCD;
	font-size: 1.7em;
}

h3 {
	font-variant: small-caps;
	text-align: center;
}

p,label,input[type="submit"] {
	font-family: 'Lato', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 0%;
}

li {
	list-style-type: none;
	display: block;
}

li a {
	text-decoration: none;
}

/* header */
.head {
	padding: .8% 2%;
	background: rgb(0,0,0); /* Old browsers */
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);

	background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: -o-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#22283a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.morning {
	background: #fccd4d; /* Old browsers */
	background: -webkit-linear-gradient(45deg, #fccd4d 6%, #ff9b54 43%, #f8b500 86%, #fbdf93 100%);

	background: -moz-linear-gradient(45deg, #fccd4d 6%, #ff9b54 43%, #f8b500 86%, #fbdf93 100%);
	background: -o-linear-gradient(45deg, #fccd4d 6%, #ff9b54 43%, #f8b500 86%, #fbdf93 100%);
	background: -ms-linear-gradient(45deg, #fccd4d 6%, #ff9b54 43%, #f8b500 86%, #fbdf93 100%);
	background: linear-gradient(45deg, #fccd4d 6%, #ff9b54 43%, #f8b500 86%, #fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.afternoon {
	background: rgb(169,228,247); /* Old browsers */
	background: -webkit-linear-gradient(45deg, rgba(169,228,247,1) 11%, rgba(239,239,239,1) 49%, rgba(15,180,231,1) 100%);

	background: -moz-linear-gradient(45deg, rgba(169,228,247,1) 11%, rgba(239,239,239,1) 49%, rgba(15,180,231,1) 100%);
	background: -o-linear-gradient(45deg, rgba(169,228,247,1) 11%, rgba(239,239,239,1) 49%, rgba(15,180,231,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(169,228,247,1) 11%, rgba(239,239,239,1) 49%, rgba(15,180,231,1) 100%);
	background: linear-gradient(45deg, rgba(169,228,247,1) 11%, rgba(239,239,239,1) 49%, rgba(15,180,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.evening {
	background: rgb(0,0,0); /* Old browsers */
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);

	background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: -o-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%);
	background: linear-gradient(45deg, rgba(0,0,0,1) 2%, rgba(63,76,107,1) 38%, rgba(34,40,58,1) 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#22283a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Navigation */
.nav {
	margin: 2em;
}

.nav a {
	margin: 2em;
	padding: 1em;
	border: 3px solid black;
	border-radius: 30%;
	color: #FFEBCD;
	text-decoration: none;
}

/* About */
#about {
	height: 30em;
	margin: auto;
	max-width: 70%;
	text-align: center;
}

#about p:nth-child(n+4) {
	text-align: justify;
}

#about p:nth-child(2) {
	margin-top: -1%;
	font-size: 1.4em;
}

#about p:nth-child(3) {
	margin-top: -1%;
	font-size: 1.2em;
}

.skills {
	margin-top: 2.5em;
	text-align: left;
}

/* Work */
#work {
	margin-top: 4em;
}

.thumbnail {
	margin: 1.3em;
	padding: 4em;
	border: 2px solid black;
	float: left;
}

/* Contact */
#contact p {
	text-align: center;
}

.icon {
	width: 54px;
	height: 54px;
	display: block;
}

.logos li {
	margin: .7459345%;
}

.github {
	background: transparent url('../img/logos/github.png') no-repeat center;
}

.codepen {
	background: transparent url('../img/logos/codepen.png') no-repeat center;
}

.facebook {
	background: transparent url('../img/logos/facebook.png') no-repeat center;
}

.linkedin {
	background: transparent url('../img/logos/linkedin.png') no-repeat center;
}

.google {
	background: transparent url('../img/logos/googleplus.png') no-repeat center;
}

.spotify {
	background: transparent url('../img/logos/spotify.png') no-repeat center;
}

a[href^="http://"]:hover,a[href^="https://"]:hover {
	border: 5px dashed white;
	border-radius: 50px;
}

fieldset {
	width: 60%;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 2%;
}

/*input[name*="Name"], input[name*="Email"]  {
	
margin-bottom:  5%;
	
}

textarea[name*="Message"]  {
	
margin-bottom:  5%;
	
}

*/
.submitbtn {
	text-align: center;
}

.email,.name,.message {
	margin-bottom: 5%;
}

.thanks {
	font-size: 1.3em;
}

/* Footer */
.footer {
	font-size: .6em;
	border: 1px solid #000;
	text-align: center;
}

/* For modern browsers */
.container:before,.container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
	zoom: 1;
}

/* Media Queries */
@media screen and (max-width: 1035px) {
	#work {
	margin-top: 10%;
}

}

@media screen and (max-width: 1006px) {
	#work {
	margin-top: 10%;
}

}

@media screen and (max-width: 848px) {
	#work {
	margin-top: 20%;
}

}

@media screen and (max-width: 693px) {
	h2 {
	display: none;
}

.image img {
	display: none;
	margin: 0;
	padding: 0;
}

#about {
	width: 80%;
}

#about p {
	-webkit-column-span: all;
	min-width: 70%;
	margin-top: -1%;
}

#work {
	margin-top: -5%;
}

.skills {
	display: none;
}

textarea {
	width: 75%;
}

}

@media screen and (max-width: 600px) {
	h1 {
	font-size: 1.75em;
}

#about {
	margin-bottom: 10%;
}

}

@media screen and (max-width: 525px) {
	h1 {
	font-size: 1.25em;
}

#about {
	margin-bottom: 20%;
}

}

@media screen and (max-width: 425px) {
	h1,.nav a {
	font-size: 1em;
}

#about {
	margin-bottom: 38%;
}

}

@media screen and (max-width: 374px) {
	#work {
	margin-top: 6em;
}

}

@media screen and (max-width: 364px) {
	#work {
	margin-top: 50%;
}

}

@media screen and (max-width: 346px) {
	#work {
	margin-top: 70%;
}

}
